.main__chat {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-top: 15px;
  cursor: pointer;
}

.chat .chat__content,
.friends__left-content {
  margin-left: 10px;
}

.chat .chat__left,
.chat__right {
  display: flex;
}

.chat__right {
  font-size: 12px;
}

.chat .chat__name,
.chat__time {
  padding-top: 5px;
}

.chat .chat__time {
  opacity: 0.5;
}

.chat .chat__text {
  margin-top: 5px;
}

.normal-img {
  width: 50px;
  border-radius: 20px;
}

.chat__right .chat__icon {
  position: absolute;
  border: 2px solid red;
  border-right-width: 5px;
  border-left-width: 5px;
  border-radius: 50%;
  color: white;
  background-color: red;
  font-size: 12px;
  right: 2px;
  bottom: 5px;
}
