.friend__me {
  display: flex;
}

.me__content {
  margin-left: 10px;
}

.me__column {
  display: flex;
  align-items: center;
}

.me__sub {
  opacity: 0.5;
  padding-top: 5px;
}

.large-img {
  width: 60px;
  border-radius: 25px;
}
